@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

/* styles.css */
.information-heading {
    text-shadow: black;
    box-shadow: yellow solid 1px;
    border-radius: 4px;
    display: flex;
    /* height: 70px; */
    color: #000000;
    width: 100%;
    /* background: #0070ff; */
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: center;
    text-shadow: 1px 1px 4px rgb(0 0 0 / 50%), -1px -1px 2px rgba(255, 255, 255, 0.3);
}

.information-heading-1 {
    text-shadow: black;
    box-shadow: yellow solid 1px;
    border-radius: 4px;
    display: flex;
    /* height: 70px; */
    color: #000000;
    width: 100%;
    /* background: #0070ff; */
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: center;
    text-shadow: 1px 1px 4px rgb(0 0 0 / 50%), -1px -1px 2px rgba(255, 255, 255, 0.3);
}

ion-icon {
    padding:5px;
    font-size: 24px;
  }

.nav-sidebar .nav-item>.nav-link {
    display: flex;
    position: relative;
    align-items: center;
}

.namelogo {
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.btn-block {
    display: block;
    width: 320px;
}

.lightbox {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lightbox img {
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 992px) {
    .container {
        max-width: 100%; /* หรือขนาดที่ต้องการ */
    }
    .container-lg {
        max-width: 100%; /* ขนาดที่ต้องการ */
    }
    .container-md {
        max-width: 100%; /* ขนาดที่ต้องการ */
    }
    .container-sm {
        max-width: 100%; /* ขนาดที่ต้องการ */
    }
}

